<app-header titulo="Mis Desparacitaciones"></app-header>

<ion-content>
  <ion-grid class="gridPrincipal">
    <ion-row>
      <ion-col>
        <div class="contenido">
          <ion-list lines=none>
            <ion-item *ngFor="let item of tratamientos|tratamiento:idMascota:'Desparasitante'">
              <section>
                <article>{{item.nombre}}</article>
                <article>{{item.fecha}}</article>
              </section>
            </ion-item>
            <!-- <ion-item>
              <section>
                <article>texto</article>
                <article>fecha</article>
              </section>
            </ion-item> -->
          </ion-list>
          
          <div class="seccionBtn">
            <ion-button (click)="irA()" shape="round">
              Volver
            </ion-button>
            <ion-button (click)="pdf()" shape="round">
              Descargar ficha
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>