<ion-content padding class="background" >
    
  <div class ="centrar"> 
   <ion-grid class="completa">
       <ion-row class="completa ion-align-items-center">
           <ion-col>
               <ion-card >
                <ion-card-header color="secondary"  >Registrate con Nosotros</ion-card-header>
                  
                   <ion-card-content>
                     
                       <ion-grid>
                           <ion-row>
                               <ion-col>
                                   <ion-item>
                                       <ion-label position="floating">
                                          Nombre de Usuario:
                                       </ion-label>
                                       <ion-input  type="text"  ></ion-input>
                                   </ion-item>
                               </ion-col>
                           </ion-row>
                           <ion-row>
                               <ion-col>
                                   <ion-item>
                                       <ion-label position="floating">
                                           Nombres:
                                       </ion-label>
                                       <ion-input  type="text" ></ion-input>
                                   </ion-item>
                               </ion-col>
                           </ion-row>
                           <ion-row>
                               <ion-col>
                                   <ion-item>
                                       <ion-label position="floating">
                                           Apellidos:
                                       </ion-label>
                                       <ion-input type="text" ></ion-input>
                                   </ion-item>
                               </ion-col>
                           </ion-row>
                           <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="floating">
                                        Correo Electronico:
                                    </ion-label>
                                    <ion-input type="email" ></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                              <ion-item>
                                  <ion-label position="floating">
                                      Contraseña:
                                  </ion-label>
                                  <ion-input  type="password" ></ion-input>
                              </ion-item>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">
                                    Confirmar contraseña:
                                </ion-label>
                                <ion-input  type="password" ></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                          <ion-item>
                              <ion-label position="floating">
                                  Dirección:
                              </ion-label>
                              <ion-input  type="text" ></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-toggle color="success"></ion-toggle>
                            Cliente
                            <ion-toggle color="success"></ion-toggle>
                            Veterinario
                        </ion-item>
                    </ion-col>
                </ion-row>

                        
                          
                           <ion-row>
                               <ion-col>
                                   <ion-button expand="block"color="secondary" shape="round"  href="">
                                       Registrarse
                                   </ion-button>
                               </ion-col>
                           </ion-row>














                           <ion-row>
                               <ion-col class="ion-text-center">
                                   <ion-router-link
                                       href=""
                                   >
                                       ¿Ya tienes cuenta?
                                   </ion-router-link>
                               </ion-col>
                           </ion-row>
                       </ion-grid>
                   </ion-card-content>
               </ion-card>
           </ion-col>
       </ion-row>
      
     </ion-grid>
   </div> 
</ion-content>
